.logoContainer{
  margin-left: 30px;
  margin-top: 30px;
  float: left;
  background-color: #ffffff;
  box-shadow: 0 2px 13px 1px rgb(0 0 0 / 9%);
  border-top-left-radius: 400px 200px;
  -moz-border-top-left-radius: 400px 200px;
  -webkit-border-radius: 15px;
  
}
.logoImg{
  height: 80px;
  width: auto;
  padding: 10px;
}