.featureContainer{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.featureImg{
  height: 100px;
  width: auto;
}

.featureText{
  padding: 40px;
  font-family: Lato, sans-serif;
}

.featureName{
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

.featureDescription{
  text-align: justify;
  margin-top: 15px;
}