.homeText{
  margin-top: 70px;
  margin-bottom: 25px;
  min-height: 200px;
  margin-inline: 200px;
  width:3000px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 2px 13px 1px rgb(0 0 0 / 9%);
}

.featuresContainer{
  margin-top: 25px;
  min-height: 300px;
  margin-inline: 70px;
  width:3000px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 2px 13px 1px rgb(0 0 0 / 9%);
}
