* {
  margin: 0;
  padding: 0;


}

html,
body {
  font-size: 18px;
  background-color:silver;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.authenticatedHome {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


.addGame{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.more{
  display: flex;
  clear: both; 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.filterContainer{
  padding: 20px;
  margin-left: 5px;
}

.search{
  float: left;
  width: 800px;
}

.searchOptions{
  display: flex;
  width: 500px;
  margin-top: 7px;
  padding-left: 20px;
}

.select{
  padding-right: 20px;
}

