* {
  margin: 0;
  padding: 0;


}

html,
body {
  font-size: 18px;
  background-color:silver;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.authenticatedHome {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


.addGame{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.more{
  display: flex;
  clear: both; 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.filterContainer{
  padding: 20px;
  margin-left: 5px;
}

.search{
  float: left;
  width: 800px;
}

.searchOptions{
  display: flex;
  width: 500px;
  margin-top: 7px;
  padding-left: 20px;
}

.select{
  padding-right: 20px;
}

.gameInfo{
  margin-top: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.gameDetails{
  
  float: left;
}

.imgAndName{
  padding-right: 40px;
  float: left;
  text-align: center;
  background-color: 'rgba(255, 255, 255, 0.5)'
  
}
.imgAndName img{

  width: 500px;
  height: auto;
  border-radius: 5%;
 
}

.imgAndName h3{

  padding-top: 10px;
  max-width: 500px;
}

.gameButtons{
  padding-top: 10px;
}

.tables{
  float: left;
}

.table1{
  float: left;
  width: 250px;
  border-radius: 5%;
}

.table1 header{
  font-weight: bold;
}

.score{
  padding: 20px;
}

.score p{
  padding-top: 10px;
}

.containers{
  display:inline-block;
  }

.description{
  
  color: white;
  background-color:#2A2A2A;
  padding: 15px;
  border-style: solid;
  width: 750px;
  height: 325px;
  border-width: 1px;
  border-radius: 2%;
  overflow: auto;
  margin-bottom: 16px;
}

.description h2{
  padding-bottom: 20px;
}

.reviews{
  color: white;
  background-color:#2A2A2A;
  padding: 15px;
  border-style: solid;
  width: 750px;
  height: 325px;
  border-width: 1px;
  border-radius: 2%;
  overflow: auto;
}

.reviews h2{
  padding-bottom: 20px;
  display: flex;
  float: left;
}

.reviewForm{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex; 

}

.reviewForm h2{
  padding-right: 120px;

}
.reviewContainer{
  color: black;
  background-color:silver;
  border-style: solid;
}
.reviewText{
  color: black;
  background-color:silver;
  border-width: 1px;
  border-style: solid;
  height: 100px;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin: 0;
}

.listContainer{

  border-width: 1px;
  border-style: solid;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.list{
  font-style: bold;
  font-size: 50px;
  
}


.list:hover{

  cursor: pointer;
  color: rgb(0, 110, 255)
}

.searchUsers{
  padding-top: 25px;
  margin: 0 auto;
  width: 900px;
}

.navbar-transparente {

  background-color: transparent !important;
  box-shadow: none !important;
}
.navbarUser{
font-weight: bold;
  margin: 0 auto;
  align-items: center;

}

.dataAndStats{
  display: flex;
  margin: 0 auto;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}
.userData{
  width: 400px;
  margin-left: 30px;
}

.userData h3{
  text-align: center;
  padding-bottom: 10px;
}
.imgUser{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgUser img{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  height: auto;
}

.userDescription{
  color: black;
  background-color:silver;
  border-width: 1px;
  border-style: solid;
  height: 200px;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin: 0;
}

.userStats{
  font-size: 120%;
  font-weight: bold;
  display: flex;
  background-color: gray;

  width: 800px;
  height: 250px;
  margin-top: 100px;
  margin-left: 70px;
}

.block1{
  width: 400px;
  padding: 20px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.block2{

  padding: 20px;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  
}